.container {
  width: 100%;
  background-color: #F3CE56;
  padding: 1.5rem;
  box-sizing: border-box;

  h2 {
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
