.container {
  .pick-up-location {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    color: #595959;
  }

  input {
    width: 100%;
    margin-top: 0.2rem;
    box-sizing: border-box;
    border-color: #a9a9a9;
    border-style: solid;
    border-width: 1px;
    font-size: 0.813em;
    font-weight: bold;
    padding: 0.7rem 0.5rem;
  }
}
