<div class="container">
  <form [formGroup]="searchForm">
    <label for="search" class="pick-up-location">Pick-up Location</label>
    <input id="search" placeholder="city, airport, station, region, district..." formControlName="search">
  </form>
  <ul>
    <li *ngFor="let result of searchResults">
      {{ result }}
    </li>
  </ul>
</div>
